.codelite/*

Debug/*
Release/*

flameide.*
src/Others/BoostProcess/libs/*

gmon.out

nbproject/*

/.project

BigJSON.json

*.user

*.o
*.so*

doxygen/html/*
build/*
src/Templates/Tests/build/*
src/Templates/build/*

*.pro.*

