FlameIDE*
.codelite/*

Debug/*
Release/*

flameide.*
src/Others/BoostProcess/libs/*

gmon.out

nbproject/*

/.project

BigJSON.json

*.user

*.o
*.so*

build/

shared/Makefile
static/Makefile
tests/Makefile
tests/All/Makefile*

